# Introduction

## Problem Statement

A company is expanding into new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircrafts. I will be determining which aircrafts are the lowest risk for the company to start this new business endeavor.

I will translate my findings into actionable insights that the head of the new aviation division can use to help decide which aircrafts to purchase.

## My Approach

I will determine which aircrafts have the lowest risk for a company to begin a new business endeavor. To do this, I will start by investigating data on various makes and models of airplanes and their fatality counts to understand a percentage rate of plane model linked to fatality in plane crashes.
Next, using that percentage rate and logistical regression models, I’ll explore relationships to plane damage and level of injury in plane investigations to describe a risk.
I’ll seek to answer the following questions:
1.	Which plane model has the lowest rate of fatality? (What plane is a safe choice to limit risk of fatality?) 
2.	During investigation, which model was found to sustain the least amount of aircraft damage? (Which plane model is the most durable?)
3.	What level of injury was found in investigations relating to different plane models? (What plane is a safe choice to limit liability for bodily injuries?)
4. FAA regulation liability? Safe Harbor?
Finally, I will explore two particular aspects of safety:
1.	A rank of the number of accidents by month and weather.  Knowing which time of year are accidents more likely to happen as a result of weather, can advise the company on heavy or light scheduling of flights.
2.	A look at how the aircraft model correlates to place of accident or incident (broad phase of flight). This could advise which parts of the plane need to be meticulously monitored for performance before and during each flight to prevent investigations.

## Data Sources

Data for this project was obtained from the following repository and also saved in ZippedData folder in this repositpory. 

The data comes from Kaggle, Aviation Accident Database & Synopses, up to 2023. 

## Methodology

The process can be divided into two stages:

A. Data preparation
    1. Importing libraries
    2. Reading and cleaning provided data
    3. Dealing with missing values
    4. Joining datasets
    5. Scraping additional data and cleaning it

B. Visualizations and insights
    1. Creating visualizations
    2. Drawing conclusions
    3. Providing recommendations

## Summary

This final section includes my findings, key actionable insights, suggested future questions to explore, and any limitations.

Data Preparation

In [1]:
#import the necessary packages
import pandas as pd
import numpy as np

# Data Provided

Data reading

The data provided is in the ZippedData folder.

In [8]:
#read in the csv file
aviation_data = pd.read_csv('./AviationData.csv', index_col=0)
aviation_data.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 5: invalid continuation byte

In [14]:
#Import the 'AviationData.csv' file using a proper encoding
aviation_data = pd.read_csv('./AviationData.csv', index_col=0, header=0, encoding='latin-1')
aviation_data.head()

/Users/Erin/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,Fatal(3),...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In this error message I notice that the file may have some corrupt or mixed values. Some missing values are labeled as NA, others as N/A or empty. Values are separated with leading and trailing spaces (in some cases).

I'll conduct an exploratory data analysis to learn more about the data set.

In [15]:
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 20001218X45444 to 20221230106513
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Latitude                34382 non-null  object
 6   Longitude               34373 non-null  object
 7   Airport.Code            50249 non-null  object
 8   Airport.Name            52790 non-null  object
 9   Injury.Severity         87889 non-null  object
 10  Aircraft.damage         85695 non-null  object
 11  Aircraft.Category       32287 non-null  object
 12  Registration.Number     87572 non-null  object
 13  Make                    88826 non-null  object
 14  Model                   88797 non-null  object
 15  Amateur.Built           88787 non-null  object
 16  Number.of.Engines       82805 non-null  float64
 17  Engine.Type             81812 non-null  object
 18  FAR.Description         32023 non-null  object
 19  Schedule                12582 non-null  object
 20  Purpose.of.flight       82697 non-null  object
 21  Air.carrier             16648 non-null  object
 22  Total.Fatal.Injuries    77488 non-null  float64
 23  Total.Serious.Injuries  76379 non-null  float64
 24  Total.Minor.Injuries    76956 non-null  float64
 25  Total.Uninjured         82977 non-null  float64
 26  Weather.Condition       84397 non-null  object
 27  Broad.phase.of.flight   61724 non-null  object
 28  Report.Status           82508 non-null  object
 29  Publication.Date        75118 non-null  object
dtypes: float64(5), object(25)
memory usage: 21.0+ MB

In [17]:
type(aviation_data) #just checking to be sure

pandas.core.frame.DataFrame

In [19]:
aviation_data.describe() #getting an overview/preview of the data

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [21]:
#using value counts to check categorical feature's distribution
aviation_data['Injury.Severity'].value_counts()

Non-Fatal    67357
Fatal(1)      6167
Fatal         5262
Fatal(2)      3711
Incident      2219
             ...
Fatal(68)        1
Fatal(35)        1
Fatal(31)        1
Fatal(55)        1
Fatal(47)        1
Name: Injury.Severity, Length: 109, dtype: int64

Now that I have a sense of the data that is available to me, I'll focus on some more specific questions to dig into.

## What make and model planes are included in this dataset?

In [ ]:
#What data will I use? 
    #I will need to use the make and model columns
#What type of logic and calculation will I use?
    #.value_counts() to count the different animal types
#What type of visualization would help answer the question?
    #a bar chart would be good for this purpose

In [22]:
aviation_data['Make'].value_counts() #rename and combine Cessna and any other duplicates .map?

Cessna                22227
Piper                 12029
CESSNA                 4922
Beech                  4330
PIPER                  2841
                      ...
FRITZ                     1
Trella                    1
HOWARD M. SHEPHERD        1
SCHOSANSKI JOHN H         1
CONCANNON MILTON          1
Name: Make, Length: 8237, dtype: int64

In [23]:
aviation_data['Model'].value_counts()

152                     2367
172                     1756
172N                    1164
PA-28-140                932
150                      829
                        ...
CASA 1-131E                1
2T1A2                      1
Stoddard HamiltonSH3       1
SZD 51-1 Junior            1
FOKKER DR-1                1
Name: Model, Length: 12318, dtype: int64

In [ ]:
#how can I connect these two columns of data? .groupby()? .join()?
#make copies of the columns in a new DataFrame?

In [24]:
aviation_data_clean = aviation_data.copy()

In [ ]:
for x in aviation_data_clean:
    #save the document date to a variable
    string_date = x['Event.Date']
    
    #extract the incident year and month from the string, and cast to int
    incident_year = int(string_date[0:4])
    incident_month = int(string_date[5:7])
    
    #add the incident year and month to each row in aviation_data_clean
    x['incident_year'] = incident_year
    x['incident_month'] = incident_month

In [ ]:
for x in aviation_data_clean:
    #save the Injury.Severity to a variable
    fatality_injury = x['Injury.Severity']
    
    #extract the incident type and make true or false?
    fatality_binary = int(falatity_injury['True'])
    
    #add the incident year and month to each row in aviation_data_clean
    x['fatality_binary'] = fatality_binary

In [ ]:
#this is a copy of 'aviation_data' with the missing values replaced
aviation_make_filled = aviation_data_clean.fillna({'Make':'UNKNOWN'}) #for all na values in the make column changes na->UNKNOWN
aviation_make_filled.head()

My logic

We have a lot of data and the first step is to consider which variables best support conclusions that will produce actionable recommendations; these will be the focus of my investigation. Due to time constraints, I will be first consider variables with more complete data.

The variable that stands out to me as the independent variable is make and model of various aircrafts. The dependent variables that I think will best inform on safety are 'Fatality', 'Damage to Plane', and level of injury. Correlations found from these data will be crucial in making an informed decision around which aircrafts to purchase because they most directly relate to the loss of human life. 

However, I will address in my final summary other variables that can impact safety or partially explain the accidents.

# Data cleaning

In this section, I will next the make, model, and fatality columns to make a new DataFrame where a percentage fatality can be calculated that is not biased on the number of samples in this particular data set.

Now, I'll prepare the dataframe for further analysis. I'll fix the missing value issue only for the columns I intend to use later and I'll update empty cells consistently with the way unknown values are treated in their respective columns.

In [ ]:
#check for duplicates
#check for null values/missing/placeholder values
#check data types, make sure that they are consistent
#decide if any rows should be removed
#summary info()
#calculate the % fatality

# Visualizations and Insights

Do I reference Tableau? How to I include it in jupyter notebook? Do I have the option of matplotlib or seaborn?

#narrate graph and variable choices for each visualtization thoughout section.
#describe what I'm seeing on each graph and what it means

# Conclusion and Future Work

## Summary of findings

### Fatality

### Aircraft Damage

### Level of injury

## Actionable Insights

## Future Work

As next steps, I would suggest the following:

    1.